:root {
  --indentation: calc(6vw + 3vh);
}

.App {
  text-align: center;
  background-color: #27005D;
}

.Content {
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  align-items: center;
  color: #F5F5F5;
}

.Content h1 {
  font-size: calc(2vw + 2vh);
  margin-bottom: 1vw;
}
